html {
    box-sizing: border-box; /* padding и border включены в width и height. Не надо думать о размере контейнера */
}

*,
*::before,
*::after {
    box-sizing: inherit; /* inherit - наследовать */
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    min-width: 320px;
    word-break: normal;
    font-family: "Open Sans", sans-serif;
}

/* global */

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.button-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* header -------------------------------------------------------- */

.header {
    border-bottom: 1px solid #C4C4C4;
}

.header-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    margin-right: 50px;
}

.header-list {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.header-list-link {
    font-size: 15px;
    font-weight: 600;
    color: #1C1C1C;
}

.header-button {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: #3172B9;
    border-radius: 3px;
    width: 150px;
    height: 50px;
}

/* First Section -------------------------------------------------------- */

.first-section {
    width: 1540px;
    height: 550px;
    background-image: url(../img/main/first-section/first-section-bg.jpg);
    margin: 0px auto;
}

.first-section-wrapper {
    width: 529px;
    height: 415px;
    display: flex;
    flex-direction: column;
    padding-top: 115px;
    margin-left: 185px;
    align-items: baseline;
    justify-content: space-around;
}

.slogan {
    font-size: 40px;
    font-weight: 300;
}

.first-section-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    width: 470px;
    line-height: 25px;
    ;
}

.first-section-button {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: #3172B9;
    border-radius: 3px;
    width: 250px;
    height: 60px;
}

.secured-connection-wrapper {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secured-connection-span {
    font-weight: 400;
    font-size: 11px;
    color: #787878;
}

.button-and-secure-wrapper {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Second Section -------------------------------------------------------- */

.services-section {
    width: 1170px;
    height: 465px;
    margin: 50px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services-title {
    font-weight: 300;
    font-size: 36px;
    text-align: center;
}

.services-card {
    width: 270px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #E4E4E4;
}

.title-of-services-cards {
    font-weight: 600;
    font-size: 20px;
}

.span-in-services-cards {
    font-weight: 400;
    font-size: 14px;
    color: #787878;
    text-align: center;
    width: 210px;
    line-height: 20px;
}

.services-cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.second-section-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    text-align: center;
    margin-bottom: 30px;
}

/* Third Section -------------------------------------------------------- */

.articles-section {
    width: 1170px;
    height: 570px;
    margin: 160px auto 0px;
}

.articles-title {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 50px;
}

.articles-cards-wrapper {
    width: 1170px;
    height: 390px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.articles-cards {
    width: 570px;
    height: 180px;
    border: 1px solid #E4E4E4;
    display: flex;
}

.text-in-cards-wrapper {
    width: 215px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.time-in-articles {
    font-size: 10px;
    font-weight: 400;
    color: #787878;
}

.title-of-articles-cards {
    font-size: 20px;
    font-weight: 400;
}

.span-in-articles-cards {
    font-size: 14px;
    font-weight: 400;
    color: #787878;
}

/* Fourth Section -------------------------------------------------------- */

.clients-section {
    width: 1170px;
    height: 460px;
    margin: 160px auto 0px;
}

.clients-title {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 50px;
}

.clients-wrapper {
    width: 1170px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}

.clients-cards {
    width: 370px;
    height: 360px;
    border: 1px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients-feedback {
    width: 281px;
    height: 185px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}

.clients-decor-wrapper {
    display: flex;
    align-items: center;
    width: 281px;
    border-top: 1px solid #E4E4E4;
    padding-top: 20px;
}

.name-decor-wrapper {
    padding-left: 20px;
    display: grid;
    gap: 7px;
}

.names-of-customers {
    font-weight: 600;
    font-size: 17px;
}

.span-in-clients-cards {
    font-weight: 400;
    font-size: 14px;
    color: #787878;
}

/* Fifth Section -------------------------------------------------------- */

.contacts-section {
    width: 1170px;
    height: 480px;
    margin: 160px auto 0px;
}

.contacts-title {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 50px;
}

.contacts-wrapper {
    width: 1170px;
    height: 160px;
    display: flex;
    justify-content: space-between;
}

.contacts-cards {
    width: 215px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 175px;
}

.types-of-contacts {
    font-weight: 600;
    font-size: 17px;
}

.span-in-contacts-cards {
    font-weight: 400;
    font-size: 14px;
    color: #787878;
    line-height: 25px;
}

/* footer -------------------------------------------------------- */

.footer {
    border-top: 1px solid #C4C4C4;
}

.footer-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side-wrapper {
    display: flex;
    align-items: center;
}

.footer-span {
    font-weight: 400;
    font-size: 12px;
    color: #787878;
}

.footer-nav {
    
}

.footer-list {
    display: flex;
    font-weight: 600;
    font-size: 15px;
    color: #787878;
}

.footer-list-link {

}

.footer-list-element {
    padding: 0px 30px;
}

.right-side-wrapper {
    width: 125px;
    display: flex;
    justify-content: space-between;
}